:root {
  /* fonts */
  --main-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;

  /* text colors */
  --main-txy-cl: #212121;
  --sec-txt-cl: #757575;
  --accet-txt-cl: #2196f3;

  /* bg color */
  --darc-bg-cl: #2f303a;
  --light-bg-cl: #f5f4fa;

  /* others */
}
/* body section */
body {
  font-family: var(--main-font);
  color: var(--main-txy-cl);
  background-color: #ffffff;
}
/* reset styles */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
img {
  display: block;
}
.link {
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  text-decoration: none;
  color: currentColor;
}
.list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;

}
/**
|============================
| Header section
|============================
*/
.header-container {
  padding: 35px;
  display: flex;
  align-items: center;
}
.header-list {
  display: flex;
  gap: 40px;
}
.header-nav {
  display: flex;
  margin-right: auto;
}
.header-link,
.header-phone,
.header-mail {
  padding-top: 52px;
  padding-bottom: 52px;
}
.header-item,
.header-item-current,
.header-item-current-section
..header-mail {
  margin-right: 50px;
}
.header-item:last-child {
  margin-right: 0;
}
.header-mail {
  margin-right: 50px;
}
/* logo */
.logo {
  margin-right: 93px;

  color: var(--main-txy-cl);
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  text-decoration: none;
}
.web {
  font-family: var(--secondary-font);
  color: var(--accet-txt-cl);
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  text-decoration: none;
}

.hover-link:hover
.hover-link:focus
.hover-link:active {
  color: #2196f3;
}
.header-link:hover
.header-link:focus
.header-link:active {
  color: #2196f3;
}
.header-phone,
.header-mail {
  color: #757575;
}
.header-nav-nav{
  display: flex;
}
.header-list,
.header-nav-nav {
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
}
.header-item-current {
  color: var(--accet-txt-cl);
}
.header-item-current-section {
  color: var(--accet-txt-cl);
}
.header-item:hover,
.header-item:focus {
  color: var(--accet-txt-cl);
}
.header-mail:hover,
.header-mail:focus {
  color: var(--accet-txt-cl);
}
.header-phone:hover,
.header-phone:focus {
  color: var(--accet-txt-cl);
}
.work-button-item:hover,
.work-button-item:focus {
  color: var(--accet-txt-cl);
}
.work-button-item {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(26 / 16);
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
.all {
  background: #2196f3;
  color: #ffffff;
}
.work-button {
display: flex;
justify-content: center;
}

/**
|============================
| Hero section
|============================
*/
.info-list{
  display: flex;
  flex-direction: row;
  padding-top: 94px;
  padding-left: 270px;
  padding-bottom: 75px;
margin-right: 30px;
}
.info-about,
.info-about-text {
  margin-right: 30px;
}
.info-about{
margin-bottom: 10px;}
  .description-info {
  
  }
  .about-list {
  display: flex;
  }
.about-item {
 max-width: 400px;
  min-width: 340px;
  min-height: 24px;
  padding: 10px 32px;
  margin-right: 30px;
  margin-top: 50px;

}
.container-team {
  background-color: #F5F4FA;
  margin-bottom: 94px;
  margin-top: 94px;
}
.about-tim{
display: flex;
gap: 30px;
margin-top: 50px;
}
.team-wrapper {
  /* border: 1px solid salmon;
  border-top: none; */
  outline: 3px solid #ffffff;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 5px;
  padding-right: 5px;
}
.tim-info {
  margin-bottom: 10px;
}
.general-info {
  font-family: var(--main-font);
  font-weight: 900;
  font-size: 44px;
  line-height: calc(60 / 44);
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}
h2.info-about {
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}
.info-about-text {
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: #757575;
}
.main {
  background-color: var(--darc-bg-cl);
  font-weight: 900;
  font-size: 44px;
  line-height: calc(60 / 44);
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}
.adout-tim-info,
.adout-info {
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
.tim-info {
  font-weight: 500;
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
.tim-info-position {
  font-weight: 400;
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
}
.btn {
  max-width: 300px;
  min-width: 200px;
  min-height: 50px;
  padding: 10px 32px;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #2196f3;
  cursor: pointer;
}
.adout-info,
.adout-tim-info,
.tim-info {
  text-align: center;
}
.work-cart-about {
  text-decoration: none;
}
.work-card-title {
  font-weight: 700;
  font-size: 18px;
  line-height: calc(36 / 18);
  letter-spacing: 0.06em;
  color: #212121;
}
.work-cart-descr {
  font-weight: 400;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.03em;
  color: #757575;
}
/**
|============================
| Footer section
|============================
*/
.footer-address {
  font-style: normal;
}
.footer {
  font-family: inherit;
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: #ffffff;
  background: #2f303a;
}
/* logo footer*/
.logo {
  color: var(--main-txy-cl);
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  text-decoration: none;
}
.web {
  color: var(--accet-txt-cl);
  font-family: var(--secondary-font);
  text-decoration: none;
}
.studio {
  color: white;
  text-decoration: none;
}
.footer-mail,
.footer-phone {
  color: rgba(255, 255, 255, 0.6);
}
.footer-mail:hover,
.footer-mail:focus {
  color: var(--accet-txt-cl);
}
.footer-phone:hover,
.footer-phone:focus {
  color: var(--accet-txt-cl);
}
.footer-link:hover,
.footer-link:focus {
  var(--accet-txt-cl);
}